<ion-view view-title="Playlists">
  <ion-content>
    <!--ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list-->
    <div class="padding">
    	<div class="btn-group btn-group-lg">
        <button class="button button-raised button-positive ink-dark">asdg</button>
        <button class="button  button-positive">123456789</button>
        <button class="button  button-positive">123456789</button>
        <button class="button button-raised  button-positive ink-dark">asdg</button>
        <button class="button  button-positive">123456789</button>
        <button class="button  button-positive"  ng-click="crearArchivo()">Archivo</button>
      </div>
      <div ng-model="exito"> 
      <pre>{{exito}}</pre>

      </div>
    	<!--div class="row">
    		<div class="col-33 padding"><button class="button button-block button-positive">asdg</button></div>
    		<div class="col-33 padding"><button class="button button-block button-positive">asdg</button></div>
    		<div class="col-33 padding"><button class="button button-block button-positive" ng-click="crearArchivo()">crear</button></div-->
    	</div>
    </div>
  </ion-content>
</ion-view>
